<div>
    <div class="text-center">
        <h1>Nest Blog</h1>
        <p> This is the description of the blog built with Nest.js, Angular and MongoDB</p>
        <div *ngIf="posts && posts.length === 0">
            <h2> No post found at the moment </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let post of posts">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="card-img-top">{{ post.title }}</h2>
                    <p class="card-text">{{ post.body }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group" style="margin-bottom: 20px;">
                            <a routerLink="{{'/post/' + post._id}}" class="btn btn-sm btn-outline-secondary">View Post</a>
                            <a routerLink="{{'/edit/' + post._id}}" class="btn btn-sm btn-outline-secondary">Edit Post</a>
                            <button class="btn btn-sm btn-outline-secondary" (click)="deletePost(post._id)">Delete Post</button>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Posted on: {{ post.date_posted}}</small><br/>
                        <small class="text-muted">by: {{ post.author}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--                            <router-link :to="{name: 'Post', params: {id: post._id}}" class="btn btn-sm btn-outline-secondary">View Post </router-link>-->
<!--                            <router-link :to="{name: 'Edit', params: {id: post._id}}" class="btn btn-sm btn-outline-secondary">Edit Post </router-link>-->