<div>
  <h4 class="text-center mt-20">
    <small>
      <button class="btn btn-success" (click)="navigate()"> View All Posts </button>
    </small>
  </h4>
  <div class="col-md-12 form-wrapper">
    <h2> Edit Post </h2>
    <form id="edit-post-form" (submit)="editPost">
      <div class="form-group col-md-12">
        <label for="title"> Title </label>
        <input type="text" id="title" [(ngModel)]="post.title" name="title" class="form-control" placeholder="Enter title">
      </div>
      <div class="form-group col-md-12">
        <label for="description"> Description </label>
        <input type="text" id="description" [(ngModel)]="post.description" name="description" class="form-control" placeholder="Enter Description">
      </div>
      <div class="form-group col-md-12">
        <label for="body"> Write Content </label>
        <textarea id="body" cols="30" rows="5" [(ngModel)]="post.body" class="form-control"></textarea>
      </div>
      <div class="form-group col-md-12">
        <label for="author"> Author </label>
        <input type="text" id="author" [(ngModel)]="post.author" name="author" class="form-control">
      </div>
      <div class="form-group col-md-4 pull-right">
        <button class="btn btn-success" type="submit"> Edit Post </button>
      </div>
    </form>
  </div>
</div>
